*{margin: 0; padding: 0;}

#bemvindo {
    position: absolute;
    width: 702px;
    height: 106px;
    left: 40%;
    top: 5%;
    right: 14%;
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 300%;
    line-height: 59px;
    
    color: #000000;

 }

#login {


     position: absolute;
     width: 308px;
     height: 78px;
     left: 60.5%;
     top: 45%;

     font-family: Arial, Helvetica, sans-serif;
     font-style: normal;
     font-weight: norm9al;
     font-size: 36px;
     line-height: 44px;

color: #FFFFFF;

}

#matricula {
    direction: ltr;
    position: absolute;
    border-radius: 10px;
    border: none;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 1);
    line-height: 16px;
    -webkit-font-smoothing: antialiased; margin: 0;
    background: rgba(255, 255, 255, 0.6);
    display: block;
    font-family: Calibre, Helvetica Neue, Segoe UI, Helvetica, Arial, Lucida Grande, sans-serif;
    padding-left: 10px;
    font-size: 19px;
    width: 22%; 
    height: 9%;
    left: 60%;
    top: 53%; 

}

#pas {
    position: absolute;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    margin-top: 0px;
    line-height: 16px;
    background: rgba(255, 255, 255, 0.6);
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 1);
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 10px;
    font-size: 19px;
    width: 22%; 
    height: 9%;
    left: 60%;
    top: 65%; 

}
      
#cel {
    position: absolute;
    left: 5.5%;
    top: 22%;
    
}
#logo {
position: absolute;
left: 2%;
right: 79.3%;
top: 0%;
bottom: 75.62%;    
}



#img3 {
    position: absolute;
    left: 69%;
    top: 77%;  

}

#bot {
    background: rgba(0, 0, 0, 0);
    border-radius: 50%;
    border:none;
}
